.banner {

  .banner__container {
    background-color: #fff;
    display: flex;
    margin: 0 auto;
    width: $size-width1200;
    min-width: $size-min-width;
    padding: 66px;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);

    .banner__hdl {
      margin: 5.6px 0 19.6px;
      font-size: 56px;
      font-weight: 800;
    }
    .banner__txt {
      font-size: 44px;
      line-height: 1.35em;
      font-weight: 300;
    }
    .box__btn {flex-direction: column;
      display: flex;
      padding: 0 0 0 40px;

      .banner__btn {
        display: block;
        position: relative;
        background-color: #0090c5;
        color: #ffffff;
        font-size: 36px;
        text-decoration: none;
        font-weight: 800;
        padding: 28.8px 32.4px;
        margin-bottom: 16.5px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color .25s ease-in-out;
        &::before {
          position: absolute;
          content: "\f0a9";
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-weight: 900;
          top: 50%;
          right: 15px;
          transform: translate(0, -50%);
        }

        &.btn--white {
          margin:0;
          background-color: #0000000D;
          color: #444444;
          &::before {
            position: absolute;
            display: inline-block;
            content: "\f059";
            font-family: "Font Awesome 5 Free", sans-serif;
            top: 50%;
            right: 15px;
            transform: translate(0, -50%);
          }
        }
      }
    }

  }
}
@media (max-width: 1280px) {
  .banner {

    .banner__container {
      width: $size-width960;

      .banner__hdl {
        display: block;
        font-size: 51.3333px;
      }
      .banner__txt {
        font-size: 40.3333px;
      }
      .box__btn {
        padding: 0;
        .banner__btn {
          font-size: 33px;
        }
      }
    }

  }
}

@media (max-width: 980px) {
  .banner {

    .banner__container {
      flex-direction: column;
      width: 90%;

      .banner__hdl {
        text-align: center;
      }

      .banner__txt {
        text-align: center;
      }

      .box__btn {
        padding: 25px 0 0 25px;
        .banner__btn {
          text-align: center;
          &::before {
            position: relative;

          }
          &.btn--white {
            &::before {
              position: relative;
              transform: none;
            }
          }
        }
      }

    }

  }
}

@media (max-width: 736px) {
  .banner {
    padding: 15px;

    .banner__container {
      width: 100%;
      margin: 0;
      padding: 15px;

      .banner__hdl {
        display: block;
        font-size: 29.3333px;
      }
      .banner__txt {
        font-size: 22px;
      }
      .box__btn {
        padding: 20px 0 0 20px;
        .banner__btn {
          font-size: 18.3333px;
        }
      }
    }

  }
}
