.features {
  padding: 0;
  .features__container {
    width: $size-width1200;
    margin: 0 auto;
    .inner {
      padding: 25px 0 0 25px;
      .feature__link {
        img {
          display: block;
          width: 100%;
          border-radius: 8px 8px 0 0;
        }

      }
    }
  }
}