.main {
  background-color: #fff;
  padding: 73.3333px 0;

  .main__container {
    margin: 0 auto;
    width: $size-width1200;
    min-width: $size-min-width;

    .row {
      display: flex;
      gap: 40px;

      .col-4 {
        .sidebar__hdl {
          font-size: 19.8px;
          font-weight: 800;
          color: #444444;
          margin-bottom: 19.8px;
        }

        .sidebar__gallery {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 40px;
          gap: 20px;

          .gallery__item {
            width: 45%;

            .img__set {
              border-radius: 8px;
            }
          }
        }

        .more__btn {
          display: inline-block;
          position: relative;
          background-color: #0090C5;
          color: white;
          text-decoration: none;
          padding: 12.96px 32.4px;
          font-size: 21.6px;
          line-height: 1.6em;
          border-radius: 6px;
          font-weight: 800;

          &::before {
            content: "\f15c";
            font-family: 'Font Awesome 5 Free', sans-serif;
            font-weight: 400;
            position: relative;
            margin-right: 10px;
          }
        }
      }

      .col-8 {
        .main__hdl {
          font-size: 36px;
          margin-bottom: 39.6px;
          line-height: 1em;
          font-weight: 800;
        }

        .main__txt {
          font-size: 16px;
          margin-bottom: 2em;
          line-height: 2.25em;
          font-weight: 300;

          strong {
            font-weight: 600;
          }

          a {
            color: #0090C5;
          }
        }

        .main__btn {
          display: inline-block;
          position: relative;
          background-color: #0090C5;
          color: white;
          text-decoration: none;
          padding: 12.96px 32.4px;
          font-size: 21.6px;
          line-height: 1.6em;
          border-radius: 6px;
          font-weight: 800;

          &::before {
            position: relative;
            content: "\f0a9";
            font-family: 'Font Awesome 5 Free', sans-serif;
            font-weight: 900;
            margin-right: 10px;
          }
        }
      }
    }
  }
}


@media (max-width: 1280px) {
  .main {

    .main__container {
      width: $size-width960;

      .row {

        .col-4 {
          .sidebar__hdl {

          }

          .sidebar__gallery {
            margin-bottom: 40px;
            gap: 12.5px;

            .gallery__item {


              .img__set {

              }
            }
          }

          .more__btn {
            font-size: 19.8px;

            &::before {

            }
          }
        }

        .col-8 {
          .main__hdl {
            font-size: 33px;
            margin-bottom: 36.3px;
          }

          .main__txt {
            font-size: 14.6667px;
            margin-bottom: 29.3333px;

            strong {

            }

            a {

            }
          }

          .main__btn {
            font-size: 19.8px;

            &::before {

            }
          }


        }
      }

    }
  }
}

@media (max-width: 980px) {
  .main {

    .main__container {
      width: 90%;

      .row {
        flex-direction: column-reverse;

        .col-4 {
          .sidebar__hdl {

          }

          .sidebar__gallery {

            .gallery__item {
              width: 49%;


              .img__set {

              }
            }
          }

          .more__btn {
            display: block;
            text-align: center;

            &::before {

            }
          }
        }

        .col-8 {
          .main__hdl {

          }

          .main__txt {


            strong {

            }

            a {

            }
          }

          .main__btn {
            display: block;
            text-align: center;

            &::before {

            }
          }


        }
      }

    }
  }
}

@media (max-width: 736px) {
  .main {

    .main__container {
      width: 100%;
      margin: 0;
      padding: 15px;

      .row {

        .col-4 {
          .sidebar__hdl {

          }

          .sidebar__gallery {

            .gallery__item {
              width: 48%;

              .img__set {

              }
            }
          }

          .more__btn {

            &::before {

            }
          }
        }

        .col-8 {
          .main__hdl {

          }

          .main__txt {


            strong {

            }

            a {

            }
          }

          .main__btn {

            &::before {

            }
          }


        }
      }

    }
  }
}

