$color-bg: #E4E4E4;
$color-txt: #444444;
$color-bg-logo: #FC4887;
$color-btn-border: #1691C3;

$font-oleo: 'Oleo Script', sans-serif;
$font-open: 'Open Sans', sans-serif;

$size-width1200: 1200px;
$size-width960: 960px;
$size-width820: 820px;
$size-min-width: 273px;